Pods
.DS_Store
CodeProduceSwift.xcworkspace/xcuserdata
DerivedData
.DS_Store
*.DS_Store
CodeProduceSwift.xcodeproj/xcuserdata/
Build
CodeProduceSwift.xcworkspace/xcshareddata
localhost+2-key.pem
localhost+2.pem
